.innerMenu {
  background-color: #242426;
  display: flex;
  flex-direction: column;
  gap: 45px;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(1500px);
  transition: all 0.5s;
  padding: 50px 20px;
  border-radius: 20px;
  z-index: 1;
}
.wrapper,
.userActiveInner {
  display: block;
}

.close {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  width: 16px;
  height: 16px;
  transition: all 0.5s;

  &:hover {
    color: #7b61ff;
    transition: all 0.5s;
    transform: scale(1.5);
  }
}

@media (max-width: 1280px) {
  .wrapperBurger {
    display: none;
  }
  .inner {
    display: block;
    margin-left: 15px;
  }
}

.innerActive {
  transform: translateX(0);
  position: fixed;
  transition: all 0.5s;
}

@media (max-width: 450px) {
  .innerMenu {
    width: 100vw;
  }
}
