@import '../../scss/vars';

.card {
  display: none;
  background-color: $acsent;
  border-radius: 10px;
}

@media (max-width: 1280px) {
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
  }
}
