@import '../../scss/vars';

.inner {
  display: flex;
  gap: 40px;
  min-height: 65vh;
  position: relative;
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.innerSvg {
  position: fixed;
  right: 3%;
  bottom: 5%;
}
.filterIcon {
  color: $acsent;
  transition: all 0.5s;
  width: 40px;
  height: 40px;

  cursor: pointer;
  &:hover {
    color: $acsentLite;
    transition: all 0.5s;
    scale: 1.1;
  }
}

.innerSvgArrow {
  position: fixed;
  left: 3%;
  bottom: 5%;
}
.arrowIcon {
  color: $acsent;
  transition: all 0.5s;
  width: 40px;
  height: 40px;
  cursor: pointer;
  &:hover {
    color: $acsentLite;
    transition: all 0.5s;
    scale: 1.1;
  }
}

.categoriaInner {
  display: none;
}

@media (max-width: 1280px) {
  .inner {
    flex-direction: row-reverse;
  }
  .innerSvg {
    position: fixed;
    right: 1%;
    bottom: 2%;
  }

  .innerSvgArrow {
    position: fixed;
    left: 1%;
    bottom: 2%;
  }
  .filterIcon {
    width: 25px;
    height: 25px;
  }

  .arrowIcon {
    width: 25px;
    height: 25px;
  }
}
