@import '../../scss/vars';
.card {
  width: 266px;
  position: relative;
  transition: all 0.5s;

  &:hover {
    transform: scale(1.1);
    transition: all 0.5s;
  }
}

.list {
  display: flex;
  flex-direction: row;
  gap: 2px 20px;
  flex-wrap: wrap;
}
.img {
  width: 266px;
  height: 357px;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 24px;
  img {
    object-fit: cover;
  }
}

.title {
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s;

  &:hover {
    color: $acsent;
    transition: all 0.5s;
  }
}

.genre {
  font-weight: 500;
  line-height: 24px;
  color: #afb2b6;
  position: relative;
  &::after {
    content: '.';
    position: absolute;
    font-size: 28px;
    color: #afb2b6;
    right: -10px;
    top: -7px;
  }
}

.rating {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 37px;
  height: 28px;
  border-radius: 6px;
  font-weight: 600;
  color: #fff;
  padding: 2px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ratingOrange {
  background-color: #f45d2d;
}
.ratingEllow {
  background-color: #f3a608;
}
.ratingGreen {
  background-color: #00a340;
}
.ratingBlue {
  background-color: $acsent;
  width: 57px;
  svg {
    width: 10px;
    height: 15px;
    margin-right: 7px;
  }
}

.favorites {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 28px;
  background-color: #323537;
  border-radius: 6px;
  font-weight: 600;
  color: #fff;
  padding: 5px 13px;
  svg {
    width: 13.5px;
    height: 18px;
    color: $acsent;
  }
}
