@import '../../scss/vars';

.wrapper {
  position: relative;
  flex-basis: 1184px;
}

.input {
  width: 100%;
  height: 56px;
  background-color: $bgLite;
  border-radius: 10px;
  padding: 16px 50px 16px 20px;
  border: 1px solid transparent;
  outline: none;
  font-weight: 500;
  &::placeholder {
    color: $grey;
  }
  &:focus {
    color: #fff;
    border: 2px solid $acsent;
  }
}

.svg {
  position: absolute;
  top: 15px;
  right: 15px;
}

.disabled {
  background-color: $grey;
  pointer-events: none;
  &::placeholder {
    color: $disabled;
  }
}
