@import '_vars.scss';
@import '_media.scss';

html,
body {
  box-sizing: border-box;
  height: 100vh;
  font-family: 'Inter', Roboto, system-ui, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin: 0 auto;
  background-color: #000000;
}
